{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<p>Bonjour,<br /><br />
Je passe l'essentiel de mon temps à écrire des programmes informatiques, je fais des programmes en Python, mais je fais aussi des sites internet et des applications web sur mesure. </p>
<p>C'est également mon gagne pain, je vous invite donc si la sobriété de mon site ne vous à pas repousser à <a href="mailto:thomas@creatux.fr">me contacter</a>, même si vous avez une question qui n'a rien à voir.</p>
<p>Si vous êtes féru de programmation ou que vous aimez l'actualité informatique j'ai également un <a href="https://www.creatux.fr/blog">blog</a>.</p>
{% endblock %}